{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
	<img class='forca' src="{% static 'img/forca.png' %}" alt="">
	<img class='bracodireito' src="{% static 'img/bracodireito.png' %}" alt="">
	<img class='bracoesquerdo' src="{% static 'img/bracoesquerdo.png' %}" alt="">
	<img class='cabeca' src="{% static 'img/cabeca.png' %}" alt="">
	<img class='corpo' src="{% static 'img/corpo.png' %}" alt="">
	<img class='pernadireita' src="{% static 'img/pernadireita.png' %}" alt="">
	<img class='pernaesquerda' src="{% static 'img/pernaesquerda.png' %}" alt="">
{% endblock %}